.rel-container-preguntas{
    position: absolute;
    top:0px;
}

.rel-button-question{
    display: block;
    height: 10em;
    margin-top: 2em;
}

.rel-comentario{
    position: fixed;
    bottom: 3em;
    right: 2em;
}


