.card-jdp {
    max-width: 3em;
}
.col-md-8{
    display: flex;
    flex-direction: column;
    background-color: #E8E8E8;
    border-radius: 1em;
}
.mb-1, .my-1{
    font-size: 1em;
    color: #4D4f5c;
}
.Answear-div{
    display: flex;
    flex-direction: row;
    padding-left: 4.1em;
}
.a{
    padding-left: 1em;
}