.modal-header{
    background-color: #4b0c81;
    color: #ffffff;
}
.close{
    color: #ffffff;
}
.close:hover{
    color: #ffffff;
}
.btn-momo{
    border-color: #4b0c81;
    background-color: #4b0c81;
}
.btn-momo:hover{
    border-color: #4b0c81;
    background-color: #4b0c81;
}
.btn-momo:active{
    border-color: #4b0c81 !important;
    background-color: #4b0c81 !important;
}
.btn-momo::selection{
    border-color: #4b0c81 !important;
    background-color: #4b0c81 !important;
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #4b0c81 !important;
    background-color: #4b0c81 !important;
}